<div class="footer-top animated wow zoomInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
  <div class="container">
    <h3>For more information feel free to <span>call or email</span></h3>
    <p>Ask for <span>Robin :)</span></p>
    <div class="more">
      <a href="/contact">Contact Us</a>
    </div>
  </div>
</div>