  <div class="banner-figures">
    <div class="banner">
      <div class="container banner-drop">
        <div class="header"> 
            <!-- append left-header template -->
            <!-- append right-header template -->
            <div class="clearfix"> </div>
        </div>
        <div class="logo animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
          <h1><a href="#"><span>High quality raw dog treats</span>Marley's Snacks</a></h1>
        </div>
        <div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
          <ul>
            <li><a href="https://www.facebook.com/groups/717613388317899/" class="facebook"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>