<div class="footer" data-wow-duration="1000ms" data-wow-delay="800ms">
  <div class="container">
    <p>© 2016 Marley's Snacks. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a> | Developed by <a href="https://ca.linkedin.com/in/kennedysharon">Sharon Kennedy</a></p>
  </div>
</div>