<div class="footer animated wow bounce" data-wow-duration="1000ms" data-wow-delay="800ms">
  <div class="container">
    <p>© 2016 Marley's Snacks. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
  </div>
</div>