{{#each products}}
  <div class="col-md-4 team-grid animated wow bounceInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
    <div class="team-grid1 hover14 column">
      <div>
        <figure><img src="../images/{{image}}" alt=" " class="img-responsive" /></figure>
      </div>
    </div>
    <div class="team-grid1-sub">
      <h4>{{title}}</h4>
      <p>{{description}}</p>
      <div class="social-icons1 prices">
        <ul>
          <li>{{price}}</li>
        </ul>
      </div>
    </div>
  </div>
{{/each}}